# The system includes options to enable rsyslog
_l41_rsyslog_host=[rsyslog host]
_l41_rsyslog_port=
# and/or logstash
_l41_logstash_host=[logstash host]
_l41_logstash_port=
# both services will make use of this customizable 
# logging decorator
_l41_logging_tag=[a unique logging tag]
# The script will create a user for you so that the files you touch are
# marked with the correct uid
_l41_username=[your username]
_l41_groupname=[primary group name]
_l41_uid=[your uid]
_l41_gid=[primary gid]
# These tell Filebeat where to look for application-specific logs
# so put anything you want logged in /tmp/2/[somewhere]
_l41_application_dirspec=/tmp/2/*
_l41_make_dir=/tmp/2
